<!DOCTYPE html>
<html lang="en" data-theme="dracula">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An experimental blog about dwarf adventure." />
    <title>{{ title }}</title>

    <!-- <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script> -->

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="flex flex-col min-h-screen">
    {% include "partials/header" %}
    <main class="flex-grow mx-10">
      {% if worldname and worldname != "" %} 
        {% include "partials/breadcrumbs" %} 
      {% endif %} 
      {% if title and subtitle %}
      <div class="my-3">
        <h1 class="text-2xl font-semibold tracking-wide mb-2">{{ title }}</h1>
        <h2 class="text-xl mb-2">{{ subtitle }}</h2>
      </div>
      {% endif %}
      {% block content %} 
        {% if prose %}
        <article class="prose lg:prose-xl mx-auto">{{ content }}</article>
        {% else %}
        {{ content }}
        {% endif %}
      {% endblock %}
    </main>
    {% include "partials/footer" %} {% comment %} Script includes {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  </body>
</html>
