<div class="card shadow-xl image-full max-w-sm h-96">
  <figure class="h-36">
    <img src="{{imgsrc}}" />
  </figure>
  <div class="justify-end card-body">
    <h2 class="card-title">{{cardtitle}}</h2>
    <p>{{cardtext}}</p>
    <div class="card-actions">
      <a class="btn btn-primary" href="{{actionhref}}">{{actiontext}}</a>
    </div>
  </div>
</div>
