{% for name in dwarf.Lovers %}
<div data-tip="Lover" class="tooltip bg-pink-500 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-heart" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.Spouses %}
<div data-tip="Spouse" class="tooltip bg-pink-500 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-heart" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %} {% for name in dwarf.KindredSpirits %}
<div data-tip="Kindred Spirit" class="tooltip bg-green-400 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-grin-hearts" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %} {% for name in dwarf.CloseFriends %}
<div data-tip="Close Friend" class="tooltip bg-blue-400 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-grin-beam" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %} {% for name in dwarf.Friends %}
<div data-tip="Friend" class="tooltip bg-yellow-200 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-smile" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.FriendlyTerms %}
<div data-tip="On Friendly Terms" class="tooltip bg-gray-500 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-smile" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.LongtermAcquaintance %}
<div data-tip="Long-term Acquaintance" class="tooltip bg-gray-500 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-meh" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.PassingAcquaintance %}
<div data-tip="Passing Acquaintance" class="tooltip bg-gray-500 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-meh" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.Grudges %}
<div data-tip="Grudge" class="tooltip bg-red-700 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-face-frown" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.Deities %}
<div data-tip="Deity" class="tooltip bg-purple-500 flex rounded-lg p-1 space-x-1">
  <div class="py-1">{% include "icons/fa-person-praying" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}
