{% for name in dwarf.Lovers %}
<div data-tip="Lover" class="tooltip flex space-x-1">
  <div class="py-1 text-pink-500">{% include "icons/fa-heart" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.Spouses %}
<div data-tip="Spouse" class="tooltip flex space-x-1">
  <div class="py-1 text-pink-500">{% include "icons/fa-heart" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %} {% for name in dwarf.KindredSpirits %}
<div data-tip="Kindred Spirit" class="tooltip flex space-x-1">
  <div class="py-1 text-green-400">{% include "icons/fa-face-grin-hearts" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %} {% for name in dwarf.CloseFriends %}
<div data-tip="Close Friend" class="tooltip flex space-x-1">
  <div class="py-1 text-blue-400">{% include "icons/fa-face-grin-beam" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %} {% for name in dwarf.Friends %}
<div data-tip="Friend" class="tooltip flex space-x-1">
  <div class="py-1 text-yellow-200">{% include "icons/fa-face-smile" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.FriendlyTerms %}
<div data-tip="On Friendly Terms" class="tooltip flex space-x-1">
  <div class="py-1 text-gray-500">{% include "icons/fa-face-smile" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.LongtermAcquaintance %}
<div data-tip="Long-term Acquaintance" class="tooltip flex space-x-1">
  <div class="py-1 text-gray-500">{% include "icons/fa-face-meh" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.PassingAcquaintance %}
<div data-tip="Passing Acquaintance" class="tooltip flex space-x-1">
  <div class="py-1 text-gray-500">{% include "icons/fa-face-meh" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.Grudges %}
<div data-tip="Grudge" class="tooltip flex space-x-1">
  <div class="py-1 text-red-700">{% include "icons/fa-face-frown" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}{% for name in dwarf.Deities %}
<div data-tip="Deity" class="tooltip flex space-x-1">
  <div class="py-1 text-purple-500">{% include "icons/fa-person-praying" %}</div>
  <div>{{name}}</div>
</div>
{% endfor %}
