{% layout "base" %} {% assign title = "Vukcasfikod" %} {% assign worldname = "Nitom Dakon" %} {% assign civname = "Asob
Idith" %} {% assign fortname = "Vukcasfikod" %} {% block content %}

<div class="quote">
  <p>You have arrived.</p>
  <p>
    After a journey from the Mountainhomes into the forbidding wilderness beyond, your harsh trek has finally ended.
    Your party of seven is to make an outpost for the glory of all of Asob Idith. There are almost no supplies left, but
    with stout labor comes sustenance. Whether by bolt, plow or hook, provide for your dwarves.
  </p>
  <p>
    You are expecting a supply caravan just before winter entombs you, but it is Spring now. Enough time to delve secure
    lodgings, ere the dingo men get hungry. A new chapter of dwarven history begins here at this place, Vukcasfikod,
    "Crescentglazes".
  </p>
  <p>Strike the earth!</p>
</div>

<h1>Stories</h1>
{% for story in collections.vukcasfikodStories %}
<div tabindex="0" class="collapse hover:bg-white hover:bg-opacity-5">
  <input type="checkbox" />
  <div class="collapse-title text-xl font-medium">{{ story.data.title }}</div>
  <div class="collapse-content">
    <p class="mb-2">{{ story.data.summary }}</p>
    <a class="btn btn-sm" href="{{ story.url }}">Read</a>
    <br />
  </div>
</div>
{% endfor %}

<h1>Dwarves</h1>
<div class="collapse collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title">7 Dwarves at embark, {{ "700-1-15" | dfDateStrFmt }}</div>
  <div class="collapse-content">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2">
      {% for dwarf in collections.vukcasfikodDwarvesEmbark %} {% include "components/dwarf-card", dwarf: dwarf.data %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="collapse collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title">13 Dwarves by Summer, {{ "700-05-11" | dfDateStrFmt }}</div>
  <div class="collapse-content">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2">
      {% for dwarf in collections.vukcasfikodDwarves1stSummer %} {% include "components/dwarf-card", dwarf: dwarf.data %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="collapse collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title">18 Dwarves by Autumn, {{ "700-09-10" | dfDateStrFmt }}</div>
  <div class="collapse-content">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2">
      {% for dwarf in collections.vukcasfikodDwarves1stFall %} {% include "components/dwarf-card", dwarf: dwarf.data %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="collapse collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title">36 Dwarves by Spring, {{ "701-02-13" | dfDateStrFmt }}</div>
  <div class="collapse-content">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2">
      {% for dwarf in collections.vukcasfikodDwarves2ndSpring %} {% include "components/dwarf-card", dwarf: dwarf.data %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
